[submodule "tools/src/rln"]
	path = tools/src/rln
	url = http://shamusworld.gotdns.org/git/rln
[submodule "tools/src/rmac"]
	path = tools/src/rmac
	url = http://shamusworld.gotdns.org/git/rmac
[submodule "tools/src/lo_inp"]
	path = tools/src/lo_inp
	url = https://github.com/cubanismo/lo_inp
[submodule "tools/src/3dsconv"]
	path = tools/src/3dsconv
	url = https://github.com/cubanismo/3dsconv
[submodule "tools/src/tga2cry"]
	path = tools/src/tga2cry
	url = https://github.com/cubanismo/tga2cry
[submodule "tools/src/pc_jagcrypt"]
	path = tools/src/pc_jagcrypt
	url = https://github.com/cubanismo/pc_jagcrypt.git
[submodule "tools/src/jcp"]
	path = tools/src/jcp
	url = https://github.com/cubanismo/skunkboard-jcp
