# By default, ignore object files, vim swap files, and Jaguar programs of
# various types
*.abs
*.bin
*.bpg
*.cof
*.cry
*.j64
*.jag
*.o
*.ous
*.rom
*~
.*.swp
virtualjaguar.log

# Allow some special case binary-only things through the above filter.
!/jaguar/blitter/blitcook.cof
!/jaguar/cdboot/cdboot.rom
!/jaguar/nvramsim/nvmsim.rom
!/jaguar/bin/maketoc.cof
!/jaguar/bin/regdump.bin
!/jaguar/workshop/data/jaguar.bin
!/jaguar/cinepak/decomp/codec.o
!/jaguar/cinepak/decomp/codec_a.o
!/jaguar/bpeg/pics/goldrgb.bpg
!/jaguar/bpeg/pics/whitergb.bpg
!/jaguar/bpeg/pics/beachrgb.bpg
!/jaguar/bpeg/pics/greenrgb.bpg
!/jaguar/bpeg/pics/chicargb.bpg
!/jaguar/bpeg/pics/plainrgb.bpg

# Ignore all the tools built from source
/tools/bin
/tools/src/gcc
/tools/lib
/tools/libexec
/tools/m68k-aout
/tools/share
