[submodule "tools/src/rln"]
	path = tools/src/rln
	url = http://shamusworld.gotdns.org/git/rln
[submodule "tools/src/rmac"]
	path = tools/src/rmac
	url = http://shamusworld.gotdns.org/git/rmac
[submodule "tools/src/lo_inp"]
	path = tools/src/lo_inp
	url = https://github.com/cubanismo/lo_inp
[submodule "tools/src/3dsconv"]
	path = tools/src/3dsconv
	url = https://github.com/cubanismo/3dsconv
[submodule "tools/src/tga2cry"]
	path = tools/src/tga2cry
	url = https://github.com/cubanismo/tga2cry
[submodule "tools/src/pc_jagcrypt"]
	path = tools/src/pc_jagcrypt
	url = https://github.com/cubanismo/pc_jagcrypt.git
[submodule "tools/src/jcp"]
	path = tools/src/jcp
	url = https://github.com/cubanismo/skunk_jcp
[submodule "tools/src/kernel-tools"]
	path = tools/src/kernel-tools
	url = https://github.com/kees/kernel-tools
[submodule "tools/src/jag_utils"]
	path = tools/src/jag_utils
	url = https://github.com/cubanismo/jag_utils
[submodule "tools/src/jrisc_tools"]
	path = tools/src/jrisc_tools
	url = https://github.com/cubanismo/jrisc_tools
[submodule "tools/src/jserve"]
	path = tools/src/jserve
	url = https://github.com/cubanismo/jserve
