	#define	NOTE_C_1	35
	#define	NOTE_C_1S	36
	#define	NOTE_D_1	39
	#define	NOTE_D_1S	42
	#define	NOTE_E_1	43
	#define	NOTE_F_1	46
	#define	NOTE_F_1S	48
	#define	NOTE_G_1	52
	#define	NOTE_G_1S	55
	#define	NOTE_A_1	58
	#define	NOTE_A_1S	62
	#define	NOTE_B_1	67	; was 49
	#define	NOTE_C0		70
	#define	NOTE_C0S	74
	#define	NOTE_D0		78
	#define	NOTE_D0S	82
	#define	NOTE_E0		87
	#define	NOTE_F0		93
	#define	NOTE_F0S	98
	#define	NOTE_G0		104
	#define	NOTE_G0S	111
	#define	NOTE_A0		121	; was 87
	#define	NOTE_A0S	124
	#define	NOTE_B0		131
	#define	NOTE_C1		139
	#define	NOTE_C1S	147
	#define	NOTE_D1		156
	#define	NOTE_D1S	166
	#define	NOTE_E1		175
	#define	NOTE_F1		186
	#define	NOTE_F1S	197
	#define	NOTE_G1		209
	#define	NOTE_G1S	221
	#define	NOTE_A1		235
	#define	NOTE_A1S	248
	#define	NOTE_B1		263
	#define	NOTE_C2		278
	#define	NOTE_C2S	295
	#define	NOTE_D2		313
	#define	NOTE_D2S	331
	#define	NOTE_E2		351
	#define	NOTE_F2		371
	#define	NOTE_F2S	394
	#define	NOTE_G2		417
	#define	NOTE_G2S	443
	#define	NOTE_A2		468
	#define	NOTE_A2S	497
	#define	NOTE_B2		526
	#define	NOTE_C3		557
	#define	NOTE_C3S	590
	#define	NOTE_D3		625
	#define	NOTE_D3S	663
	#define	NOTE_E3		702
	#define	NOTE_F3		744
	#define	NOTE_F3S	788
	#define	NOTE_G3		834
	#define	NOTE_G3S	884
	#define	NOTE_A3		937
	#define	NOTE_A3S	992
	#define	NOTE_B3		1051
	#define	NOTE_C4		1114
	#define	NOTE_C4S	1180
	#define	NOTE_D4		1250
	#define	NOTE_D4S	1326
	#define	NOTE_E4		1417	; was 1040
	#define	NOTE_F4		1488
	#define	NOTE_F4S	1575
	#define	NOTE_G4		1670
	#define	NOTE_G4S	1768
	#define	NOTE_A4		1874
	#define	NOTE_A4S	1986
	#define	NOTE_B4		2103
	#define	NOTE_C5		2229
	#define	NOTE_C5S	2361
	#define	NOTE_D5		2501
	#define	NOTE_D5S	2650
	#define	NOTE_E5		2808
	#define	NOTE_F5		2974
	#define	NOTE_F5S	3152
	#define	NOTE_G5		3338
	#define	NOTE_G5S	3537
	#define	NOTE_A5		3747
	#define	NOTE_A5S	3970
	#define	NOTE_B5		4206
	#define	NOTE_C6		4458
	#define	NOTE_C6S	4722
	#define	NOTE_D6		5003
	#define	NOTE_D6S	5300
	#define	NOTE_E6		5616
	#define	NOTE_F6		5949
	#define	NOTE_F6S	6303
	#define	NOTE_G6		6678
	#define	NOTE_G6S	7075
	#define	NOTE_A6		7495
	#define	NOTE_A6S	7942
	#define	NOTE_B6		8413
	#define	NOTE_C7		8914
	#define	NOTE_C7S	9444
	#define	NOTE_D7		10006
	#define	NOTE_D7S	10600
	#define	NOTE_E7		11230
	#define	NOTE_F7		11899
	#define	NOTE_F7S	12606
	#define	NOTE_G7		13365	; was 9838
	#define	NOTE_G7S	14151
	#define	NOTE_A7		14992
	#define	NOTE_A7S	15883
	#define	NOTE_B7		16828
	#define	NOTE_C8		17828
	#define	NOTE_C8S	18888
	#define	NOTE_D8		20011
	#define	NOTE_D8S	21202
	#define	NOTE_E8		22462
	#define	NOTE_F8		23798
	#define	NOTE_F8S	25212
	#define	NOTE_G8		26712
	#define	NOTE_G8S	28300
	#define	NOTE_A8		29983
	#define	NOTE_A8S	31765
	#define	NOTE_B8		33655
	#define	NOTE_C9		35656
	#define	NOTE_C9S	37777
	#define	NOTE_D9		40022
	#define	NOTE_D9S	42402
	#define	NOTE_E9		45900	; 33277
	#define	NOTE_E9S	47595
