	#define	NOTE_C_1	26
	#define	NOTE_C_1S	27
	#define	NOTE_D_1	29
	#define	NOTE_D_1S	31
	#define	NOTE_E_1	32
	#define	NOTE_F_1	34
	#define	NOTE_F_1S	36
	#define	NOTE_G_1	39
	#define	NOTE_G_1S	41
	#define	NOTE_A_1	43
	#define	NOTE_A_1S	46
	#define	NOTE_B_1	50	; was 49
	#define	NOTE_C0		52
	#define	NOTE_C0S	55
	#define	NOTE_D0		58
	#define	NOTE_D0S	61
	#define	NOTE_E0		65
	#define	NOTE_F0		69
	#define	NOTE_F0S	73
	#define	NOTE_G0		77
	#define	NOTE_G0S	82
	#define	NOTE_A0		90	; was 87
	#define	NOTE_A0S	92
	#define	NOTE_B0		97
	#define	NOTE_C1		103
	#define	NOTE_C1S	109
	#define	NOTE_D1		116
	#define	NOTE_D1S	123
	#define	NOTE_E1		130
	#define	NOTE_F1		138
	#define	NOTE_F1S	146
	#define	NOTE_G1		155
	#define	NOTE_G1S	164
	#define	NOTE_A1		174
	#define	NOTE_A1S	184
	#define	NOTE_B1		195
	#define	NOTE_C2		206
	#define	NOTE_C2S	219
	#define	NOTE_D2		232
	#define	NOTE_D2S	245
	#define	NOTE_E2		260
	#define	NOTE_F2		275
	#define	NOTE_F2S	292
	#define	NOTE_G2		309
	#define	NOTE_G2S	328
	#define	NOTE_A2		347
	#define	NOTE_A2S	368
	#define	NOTE_B2		390
	#define	NOTE_C3		413
	#define	NOTE_C3S	437
	#define	NOTE_D3		463
	#define	NOTE_D3S	491
	#define	NOTE_E3		520
	#define	NOTE_F3		551
	#define	NOTE_F3S	584
	#define	NOTE_G3		618
	#define	NOTE_G3S	655
	#define	NOTE_A3		694
	#define	NOTE_A3S	735
	#define	NOTE_B3		779
	#define	NOTE_C4		825
	#define	NOTE_C4S	874
	#define	NOTE_D4		926
	#define	NOTE_D4S	982
	#define	NOTE_E4		1050	; was 1040
	#define	NOTE_F4		1102
	#define	NOTE_F4S	1167
	#define	NOTE_G4		1237
	#define	NOTE_G4S	1310
	#define	NOTE_A4		1388
	#define	NOTE_A4S	1471
	#define	NOTE_B4		1558
	#define	NOTE_C5		1651
	#define	NOTE_C5S	1749
	#define	NOTE_D5		1853
	#define	NOTE_D5S	1963
	#define	NOTE_E5		2080
	#define	NOTE_F5		2203
	#define	NOTE_F5S	2335
	#define	NOTE_G5		2473
	#define	NOTE_G5S	2620
	#define	NOTE_A5		2776
	#define	NOTE_A5S	2941
	#define	NOTE_B5		3116
	#define	NOTE_C6		3302
	#define	NOTE_C6S	3498
	#define	NOTE_D6		3706
	#define	NOTE_D6S	3926
	#define	NOTE_E6		4160
	#define	NOTE_F6		4407
	#define	NOTE_F6S	4669
	#define	NOTE_G6		4947
	#define	NOTE_G6S	5241
	#define	NOTE_A6		5552
	#define	NOTE_A6S	5883
	#define	NOTE_B6		6232
	#define	NOTE_C7		6603
	#define	NOTE_C7S	6996
	#define	NOTE_D7		7412
	#define	NOTE_D7S	7852
	#define	NOTE_E7		8319
	#define	NOTE_F7		8814
	#define	NOTE_F7S	9338
	#define	NOTE_G7		9900	; was 9838
	#define	NOTE_G7S	10482
	#define	NOTE_A7		11105
	#define	NOTE_A7S	11765
	#define	NOTE_B7		12465
	#define	NOTE_C8		13206
	#define	NOTE_C8S	13991
	#define	NOTE_D8		14823
	#define	NOTE_D8S	15705
	#define	NOTE_E8		16639
	#define	NOTE_F8		17628
	#define	NOTE_F8S	18676
	#define	NOTE_G8		19787
	#define	NOTE_G8S	20963
	#define	NOTE_A8		22210
	#define	NOTE_A8S	23530
	#define	NOTE_B8		24930
	#define	NOTE_C9		26412
	#define	NOTE_C9S	27983
	#define	NOTE_D9		29646
	#define	NOTE_D9S	31409
	#define	NOTE_E9		34000	; 33277
	#define	NOTE_E9S	35256
